.root {
    -fx-background-color: #001f48;
    -fx-font-family: "Agency FB";
    -fx-font-size: 25pt;
    -fx-text-fill: white;
}

.label {
    -fx-text-fill: white;
    -fx-font-family: Alef;
    -fx-font-size: 15pt;
}

.title {
    -fx-text-fill: white;
    -fx-font-size: 50pt
}

.choice-box{
    -fx-background-color: black;

}

.button {
    -fx-font-size: 20px;
    -fx-background-color: #0166b6;
    -fx-background-radius: 5px;
    -fx-border-width: 1px;
    -fx-border-color: white;
    -fx-border-radius: 5px;
    -fx-text-fill: white;
    -fx-min-width: 120px;
}

.button:hover {
    -fx-background-color: #cb1e78;
}

.text-field {
    -fx-background-color: #3c5b7a;
    -fx-border-width: 1px;
    -fx-border-color: white;
    -fx-border-radius: 5px;
    -fx-text-fill: white;
    -fx-font-family: Arial;
    -fx-font-size: 20px;
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: #000;
    -fx-border-width: 1;
    -fx-border-color: #fff;
    -fx-text-fill: white;
}

.table-view .column-header .label {
    -fx-alignment: center;
    -fx-font-size: 12pt;
    -fx-text-fill: white;

}

.table-row-cell,
.table-row-cell:odd {
    -fx-background-color: white;
}

.table-row-cell:selected {
    -fx-background-color: lightgrey;
}

.table-view .table-cell {
    -fx-border-color: lightgrey;
    -fx-border-width: 1 0 0 0;
    -fx-font-size: 12pt;
    -fx-padding: 5 3 8 3;
}